
*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* @font-face {
    font-family: comic;
    src: url(comic.ttf);
} */

/* .padre p {
    border: 2px solid red;
    text-align: left;
} */

.encabezado{
    background-color: #323232;
    color: white;
    padding: 0.9375em;
    text-align: center;
    width: 85%;
    
}

#encabezado{
    margin-left: 14%;
}

.titulo{
    font-size: 1.5em;
}

/* botones del   M E N U   ///////////////////////////////*/
.btns-nav{
    margin-top: 15px;
}

.btn-nav{
    color: #fff;
    text-decoration: none;
    background-color: #424549;
    border-radius: 3px;
    padding: 6px 5px;
    display: inline-block;
    font-size: 0.67em;
    text-align: center;
}

.btn-nav:hover{
    background-color: #646464;
}

#fondo-home{
    border: 1px solid #424549;   
 /*   margin-top: 0em;   */
    background-color: #424549;
    width: 85%;
    height: 84.2vh; 

 /*   height: 100%; */
   /* top: 0%;  */
    
}



/* /////////////// C O N T E N E D O R    M E M E  /////////////////*/

.padre{
    width: 40%;
 /*   margin: 1% auto; */
    /*margin: auto; */
    margin-top: 1%; 
    margin-left: 37%; 
    height: 450px;   
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .box{
    margin-top: 1%;
} */

.texto-top , .text-bottom{
    background-color: #ffffff;
    padding: 6%;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: center;
}

.text-container{
    display: flex;
    width: 100%;
}

.contenedor-meme{
    background-color: black;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    /* background-image: ; */
    background-position: center;
    background-size: cover;
    
}


/* /////////////// A S I D E       I M A G E N   /////////////////*/

aside{
    background-color: #36393E;
    color: #fff;
    position: absolute;
    top: 0%;
    right: 0;
    width: 15%;
    height: 100vh;
}

.title-form{
 /*   margin-top: 15%; */
    margin: 15% 33% 10% 33%;
    font-weight: bold;
    font-size: 0.85em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.formulario-imagen{
    width: 88%;
    margin: auto;
    margin-top: 15%;
    font-size: 0.6em;
    color: #fff;
}

.url{
    background-color: #646464;
    border-radius: 3px;
    border: none;
    padding: 3.7%;
    margin-top:  5%;
    margin-bottom: 8%; 
    color: #ffffff;
    font-size: 1.1em;
    width: 100%;
}

.alinear-inputs{
    display: flex; 
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

input[type="range"] {       /*  cambiando el range */
    accent-color: #ffffff;
    cursor: pointer;
  }

.all-filter{
    margin-top: 7%;
    margin-bottom: 8%;
}


.selector-color-meme{
    display: flex;
    align-items: center;
    background-color: #646464;
    border-radius: 3px;
    width: 48%;
    color: #ffffff;
    /* border: 1px solid yellow;   */
    justify-content: space-around;
    cursor: pointer;
    
}

#input-color-meme{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    /* border: 1px solid yellow;    */
    width: 100%;
    align-content: space-between;
}

.s-color{
    width: 48%;
    font-size: 1.1em;
    padding: 3.5%;
    background-color: #646464;
    border: none;
    border-radius: 3px;
    color: #fff;
    /* border: 1px solid magenta;  */
    margin-right: 0%;
} 


/*////////////////////////////////////////////*/

.slider{
    width: 100%;
    height: 5px;
    background-color: #646464;
    appearance: none;
    border-radius: 3px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.reestablecer-filtros{
    border: none;
    border-radius: 3px;
    padding: 4%;
    font-size: 1.1em;
    background-color: #646464;
    color: #fff;
    cursor: pointer;
}

.reestablecer-filtros:hover{
    background-color: #999999;
}


/* /////////////// A S I D E   t e x t o   /////////////////*/

.div-texto{
    display: none;
}

.checkbox{
    width: 0.625em;
    margin-bottom: 8%;
    border: none;

}

textarea{
    background-color: #646464;
    color: #fff;
    border-radius: 3px;
    border: none;
    font-size: 1em;
    padding: 0.85em;
    resize: vertical;
    margin-bottom: 3%;
    margin-top: 4%;
}

.itipografia{
    background-color: #646464;
    color: #fff;
    border-radius: 3px;
    border: none;
    width: 100%;
    font-size: 1em;
    padding: 0.7em;
    margin-top: 5%;
    margin-bottom: 3%;
}

.itamanioletra{
    width: 50%;
    background-color: #646464;
    color: #fff;
    border-radius: 3px;
    border: none;
    padding: 0.9em;
    font-size: 1em;
}

.btn-text{
    background-color: #646464;
    color: #fff;
    border-radius: 3px;
    border: none;
    margin-inline: 1%;
    padding: 3%;
    cursor: pointer;
} 
                    /* circulito estilo seleccion de color*/
.color-texto {
    appearance: none;
    width: 26%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}
.color-texto::-webkit-color-swatch{
    border-radius: 50%;
    border: none;
}

.texto-color{           /* texto dentro de color*/
    font-size: 1.1em;   
}

#label-color{
    margin-bottom: 10%;
   /* es aqui */
}

.selector-color{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #646464;
    border-radius: 3px;
    width: 94%;
    margin-top: 0%;
 }

#input-color-fondo{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; 
    width: 70%;
    align-content: space-between;
}

.input-color-todo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 9%; 
    margin-bottom: 3.5%; 
    width: 100%;
}

.btn-contorno{
    border: none;
    border-radius: 3px;
    background-color: #646464;
    color: #fff;
    padding: 4% 3%;
    font-size: 1.15em;
    margin-top: 5%;
    width: 32%;
    margin-bottom: 8%;
}

.input-espaciado{
    width: 100%;
    background-color: #646464;
    color: #fff;
    border-radius: 3px;
    border: none;
    padding: 0.9em;
    font-size: 1em;
    margin-top: 5%;
    margin-bottom: 8%;
}

.select-interlineado{
    width: 100%;
    background-color: #646464;
    color: #fff;
    border-radius: 3px;
    border: none;
    padding: 0.9em;
    font-size: 1em;
    margin-top: 5%;
    margin-bottom: 8%;
    font-family: ameri;
}

.ocultar{
    display: none;
}

.mostrar{
    display: block;
}

/* .fondoTransparente{
    background-color: transparent;
} */

/*************** M O D O   O S C U R O *********************/

.dark .encabezado{
    background-color: #c0e2dd;
    color: #000080
} 

.dark #fondo-home{
    background-color: #4ab3cd;
}

.dark .btn-nav{
    background-color: #a5d6e4;
    color: #000080;
}

.dark .btn-nav:hover{
    background-color: #fff;
}

.dark aside{
    background-color: #66cdaa;
    color: #000080;
}

.dark .iclaro {
    background-color: #fff;
    color: #000080;
}

.dark  .selector-color-meme{
    background-color: #ffffff;
    color: #000080;
}

.dark .s-color{
    background-color: #ffffff;
    color: #000080;
} 

.dark label{
    color: #000080;
}

.dark .url{
    color: #000080;
}

.dark .reestablecer-filtros{
    background-color: #ffffff;
    color: #000080;
}

.dark .reestablecer-filtros:hover{
    background-color: #a5d6e4;
}

.dark  .texto-checkbox{
    color: #000080;
}

.dark .itamanioletra{
    background-color: #ffffff;
    color: #000080;
}

.dark .i-color-texto{
    background-color: #ffffff;
    color: #000080;
} 


